 .container{
      margin-left: auto;
      margin-right: auto;
    width: 1000px;
         }
       .header{
        border-bottom: solid;
        min-height: 250px;
      background-image: url(background.jpg);
      background-size: cover;
    }
    #title{
      padding-top: 100px;
      font-size: 30px;
      text-align:center;
      text-shadow:2px 2px 2px black;
      letter-spacing: 2px;
      word-spacing: 5px;
      color:  #6495ED;
    }
       .nav{
        float: left;
        min-height: 600px;
        width: 148px;
       padding: 10px;
       background: linear-gradient(to top,#E6E6FA , gray)
   
     }
       .content{
        width: 792px;
        float: left;
        background-color: lightgray;
        padding: 20px;
      font-style: italic;
      font-size: 1.2em;
      background: linear-gradient(to bottom, lightgray, gray)
      }
      #head1{
        text-align: center;
      }
      #head2{
        text-align: center;
      }
      #head3{
        text-align: center;
      }
      #head4{
        text-align: center;
      }
      #head5{
        text-align: center;
      }
       .footer{
        width: 812px;
        clear: both;
        background-color:#696969;
        padding: 10px;
        text-align: center;
        color: white;
        float: right;
      }